.PlayerSpace {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  background: var(--inverted-bg-color);
}

.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TrackerWrapper {
  display: flex;
  background: var(--bg-color);
  border: 2px solid rgb(0, 0, 0);
  //width: 100%;
  //height: 300px;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}

.setter {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 5px;
  //height: 150px;
  width: 350px;
}

.difficulty {
  display: flex;
  margin: 0px 5px 0px 5px;
}

.addBtn {
  width: 100%;
  align-self: flex-end;
}

* {
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

*::-moz-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  margin-right: 5px;
}

*::-moz-scrollbar-corner {
  background-color: transparent;
}
*::-moz-scrollbar-track {
  background-color: transparent;
}
