.PlayerSpace {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  background: var(--inverted-bg-color);
  max-width: 1200px;

  @media (max-width: 1200px) {
    max-width: 970px;
  }
  @media (max-width: 971px) {
    width: 100%;
    //max-width: 950px;
  }
  @media (max-width: 767px) {
    max-width: 740px;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 95%;
    padding: 5px;
  }
}

.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TrackerWrapper {
  display: flex;
  background: var(--bg-color);
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
  width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media (max-width: 415px) {
    align-items: center;
    width: 100%;
  }
}

.setter {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 5px;
  width: 350px;
}

.difficulty {
  display: flex;
  margin: 0px 5px 0px 5px;
}

.addBtn {
  width: 100%;
  align-self: flex-end;
}
