@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/light.scss';
@import 'themes/blue.scss';
@import 'themes/purple.scss';
@import 'reset';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  -webkit-tap-highlight-color: transparent;

  border: 2px solid black;
  border-radius: 12px;

  padding: 10px;
  min-height: 100vh;
  width: 100%;

  overflow: hidden;

  @media (max-width: 1700px) {
    width: 100%;
    // max-width: 1300px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    // max-width: 900px;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 34px;
    margin-top: 34px;
    overflow-x: hidden;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 36px;
    margin-top: 50px;
    overflow-x: hidden;
  }

  @media screen and (display-mode: standalone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    margin-top: 65px;
    overflow-x: hidden; //можнт ломать что то но по идее убирает лишние скроллы по бокам
  }
}

.content-page {
  display: flex;
  max-width: 1400px;

  overflow: hidden;

  @media (max-width: 1700px) {
    width: 1200px;
    // max-width: 1300px;
  }

  @media (max-width: 1200px) {
    max-width: 1100px;
  }

  @media (max-width: 767px) {
    max-width: 640px;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    padding: 5px;
  }
}

* {
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

*::-moz-scrollbar-thumb {
  position: absolute;
  right: -10px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 5px;
}

*::-moz-scrollbar-corner {
  background-color: transparent;
}
*::-moz-scrollbar-track {
  background-color: transparent;
}
