.ChallengeCreator {
  //border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  height: 300px;
  width: 600px;

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    //border: 3px solid black;
  }
}

.title {
  width: 300px;
  // text-align: center;
  input {
    margin-top: 6px;
    width: 300px;

    @media (max-width: 415px) {
      width: 250px;
    }
  }
}
.titleInput {
  margin-top: 15px;
}
.textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}
.descr {
  width: 300px;
  margin: 5px;
  textarea {
    margin-top: 5px;
    @media (max-width: 415px) {
      width: 250px;
    }
  }
}

.dates {
  display: flex;
  width: 300px;
  margin: 5px;

  .startDate {
    input {
      margin-top: 4px;
      width: 150px;

      @media (max-width: 415px) {
        width: 120px;
        margin-right: 4px;
      }
    }
    margin-right: 10px;
  }
  .endDate {
    input {
      margin-top: 4px;
      width: 150px;

      @media (max-width: 415px) {
        width: 120px;
        margin-left: 0px;
      }
    }
    margin-left: 5px;
  }
}
.points {
  margin-top: 10px;
  input {
    margin-top: 4px;
    width: 150px;

    @media (max-width: 415px) {
      width: 90px;
    }
  }

  .x {
    margin-top: 6px;
    display: flex;
  }
}

.timesAday {
  select {
    margin-left: 4px;
  }
}

.btn {
  margin-left: 10px;
}
.btn:hover {
  background: rgb(3, 201, 3);
}

.error {
  color: red;
}
