.ThemeSwitcher {
  border: 2px solid white;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  width: 7%;

  cursor: pointer;

  //   :hover {
  //     border: 2px solid rgb(3, 209, 3);
  //   }
}
