.LoginForm {
  display: flex;
  flex-direction: column;
}

input {
  //margin-top: 10px;
}

.input1 {
  margin-bottom: 16px;
}

.btn {
  padding: 4px;
  margin-top: 10px;
  margin-left: auto;
}

.btn:hover {
  border: 1px solid var(--inv-primary-color);
  color: var(--inv-primary-color);
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.errorMessage {
}
