@font-face {
  font-family: 'Tektur';
  src: url('https://fonts.googleapis.com/css2?family=Tektur&family=Vina+Sans&display=swap');

  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-main: 'Tektur'; // 'Consolas', 'Times New Roman', 'Serif';

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-mini: 8px;
  --font-line-m: 16px;
  --font-mini: var(--font-size-mini) / var(--font-line-mini)
    var(--font-family-main);

  --font-size-l: 24px;
  --font-line-m: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // размеры

  --navbar--height: 50px;

  --sidebar-width: 250px;
  --sidebar-width-small: 80px;

  // z index

  --overlay-color: rgba(0 0 0 / 60%);
  --modal-z-index: 10;

  //    COLORS  Consolas, "Times New Roman", Serif;

  --red-light: rgb(255, 0, 0);
  --red-dark: rgb(201, 3, 3);
}
