.Button {
  cursor: pointer;
  padding: 6px 15px;
}

.clear {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  outline: none;
}

.unclear {
  cursor: pointer;
  border: 2px solid var(--inv-primary-color);
  color: var(--inv-primary-color);

  border-radius: 4px;
  background: none;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.outline {
  padding: 5px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 3px;
  background: none;
  line-height: 1.2;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  margin: 5px;

  cursor: pointer;
  transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  &:active {
    transform: translateY(2px);
  }
}
.outline-red {
  padding: 5px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  background: none;

  line-height: 1.2;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  margin: 5px;

  cursor: pointer;
  transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(2px);
  }
}

.square {
  padding: 0;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}
.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}
.square.size-xl {
  width: 30px;
  height: 30px;
  // width: var(--font-line-xl);
  // height: var(--font-line-xl);
}

.size-m {
  font-size: 16px;
}
.size-l {
  font-size: 24px; //
}
.size-xl {
  font-size: 32px;
}

.disabled {
  opacity: 0.5;
}
