.Button {
  cursor: pointer;
}

.clear {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  outline: none;
}

.unclear {
  cursor: pointer;
  border: 2px solid purple;
}

.outline {
  padding: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
}
