.Button {
  cursor: pointer;
  padding: 6px 15px;
}

.clear {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  outline: none;
}

.unclear {
  cursor: pointer;
  border: 2px solid var(--inv-primary-color);
  color: var(--inv-primary-color);

  border-radius: 4px;
  background: none;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.outline {
  padding: 0%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  background: none;
}

.square {
  padding: 0;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}
.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}
.square.size-xl {
  width: 30px;
  height: 30px;
  // width: var(--font-line-xl);
  // height: var(--font-line-xl);
}

.size-m {
  font-size: 16px;
}
.size-l {
  font-size: 24px; //
}
.size-xl {
  font-size: 32px;
}
