.SingleEndeavor {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--inverted-bg-color);
  transition: height max-height 0.2s 0.2s;

  @media (max-width: 767px) {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: block; /* Или display: flex; */
    box-sizing: border-box; /* Это важно */
  }
  @media (max-width: 415px) {
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
}

.SingleEndeavor:hover {
  cursor: pointer;
  background-color: var(--sidebar-button); //var(--hover-cursor);
}

.Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.xIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 900;
  transition: width 0.2s, height 0.2s, transform 0.1s, fill 0.2s;

  &:hover {
    color: rgb(236, 4, 4);
    border: 1px solid rgb(238, 6, 6);
  }

  &:active {
    width: 25px;
    height: 25px;
    transform: translate(2px, 2px);
  }
}

.xIcon:active {
  width: 25px;
  height: 25px;
  transform: translate(5px, 5px);
}
.Plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 900;

  transition: width 0.2s, height 0.2s, transform 0.1s, fill 0.2s;

  &:hover {
    color: rgb(11, 230, 11);
    border: 1px solid rgb(11, 231, 11);
  }

  &:active {
    width: 25px;
    height: 25px;
    transform: translate(2px, 2px);
  }
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #000000;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: rgb(230, 189, 7); //rgb(33, 41, 33);
    margin-bottom: 0;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -3px;
      border-color: white;
      content: '\2713';
      visibility: visible;
    }
  }
}

.isDone {
  opacity: 0.5;
}

.icon {
  rotate: (180deg);
  margin-left: 5px;
  &:hover {
    fill: salmon;
    cursor: pointer;
  }
}

.subtasksMap {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 200px;
}

.singleSubtask {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 2px;
  margin-top: 2px;
}
