.SingleEndeavor {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--darker-backg);
}
.SingleEndeavor:hover {
  cursor: pointer;
  background-color: var(--sidebar-button); //var(--hover-cursor);
}

.xIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 900;

  transition: width 0.2s, height 0.2s, transform 0.1s, fill 0.2s;
}

.xIcon:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.xIcon:active {
  width: 25px;
  height: 25px;
  transform: translate(5px, 5px);
}
.Plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 900;

  transition: width 0.2s, height 0.2s, transform 0.1s, fill 0.2s;
}

.Plus:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.Plus:active {
  width: 25px;
  height: 25px;
  transform: translate(5px, 5px);
}

input {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  background: blueviolet;
  outline: none;
}
input:hover {
  cursor: pointer;
  width: 25px;

  border: 1px solid rgb(255, 255, 255);
  background: none;
  outline: none;
}

input[type='checkbox']:checked {
  background-color: rgb(6, 223, 6);
}

.isDone {
  opacity: 0.5;
}
