.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  //background: rebeccapurple;
  align-items: center;
  justify-content: center;
}
.link {
  margin-top: 10px;
  opacity: 1;
}

.element {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--inverted-bg-color); // rebeccapurple;
}
.element:hover {
  background: var(--sidebar-button);
}
.linkWrapper {
  width: 100%;
}
.linkWrapper:hover {
}

.collapseBtn {
  position: absolute;
  margin-right: 5px;
  font-size: large;
  color: var(--inv-primary-color);
  right: 10px;
  top: 5px;
}

.background {
  background: var(--inverted-bg-color);
}

.collapse {
  width: var(--sidebar-width-small);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: 0.3s;
  }
  .icon {
    margin-right: 3px;
    @media (max-width: 415px) {
      display: none;
    }
  }

  .collapseBtn {
    position: relative;
    margin-right: 5px;
    font-size: large;
    transition: 0.3s opacity;
    display: flex;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
  }
  .collapseBtn:hover {
    background: var(--sidebar-button);
  }

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    width: 20px;
    // height: 20px;
  }
}
