.SidebarItem {
  width: 100%;
}

.link {
  margin-top: 10px;
  opacity: 1;
}

.element {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--inverted-bg-color);
  transition: color 0.1s;

  &:hover {
    background: var(--sidebar-button);
    fill: salmon;
    color: salmon;

    .icon {
      fill: salmon;
    }
  }

  @media (max-width: 415px) {
    align-items: center;

    &:hover {
      background: var(--inverted-bg-color);
      fill: salmon;
      .icon {
        fill: salmon;
      }
    }
  }
}

.expanded {
  .link {
    flex-grow: 1;
    text-align: center;
  }

  &:hover {
    .icon {
      fill: salmon;
    }
  }

  @media (max-width: 415px) {
    flex-grow: 0;
  }
}

.icon {
  fill: var(--primary-color);
  transition: fill 0.1s;
  margin-left: 10px;
}

.background {
  background: var(--inverted-bg-color);
}

////////////////////////// collapsed state \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.collapse {
  width: var(--sidebar-width-small);

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    display: none;
  }

  @media (max-width: 415px) {
    display: flex;
  }

  .element {
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center;
    &:hover {
      fill: salmon;
    }

    @media (max-width: 415px) {
      display: flex;
      align-items: center;
    }
  }

  .link {
    transition: 0.3s;
    display: none;
  }

  .icon {
    fill: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 10px;

    &:hover {
      fill: salmon;
      color: salmon;
    }

    @media (max-width: 767px) {
    }
    @media (max-width: 415px) {
      background: none;
    }
  }
}
