.Sidebar {
  height: calc(100vh - var(--navbar--height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.5s, height 0.5s;
  margin-top: 3px;
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    z-index: 1000;
    background: transparent;
  }
  @media (max-width: 415px) {
    width: 100%;
    display: flex;
    border-radius: 7px;
  }
}

.expanded {
  background: var(--inverted-bg-color);
  align-items: center;
  transition: width 0.5s, height 0.5s;
}

.SidebarItem {
  width: 100%;
}

.switchers {
  margin-top: 10px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  //align-items: center;
  width: 100%;
  border-radius: 7px;

  @media (max-width: 767px) {
    display: flex;
    width: 50%;
  }
  @media (max-width: 415px) {
    justify-content: space-between;
    width: 50%;
  }
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 767px) {
    display: flex;
  }
}
.link {
  width: 100%;
  margin-top: 10px;
  opacity: 1;
}

.element {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  // background: var(--inverted-bg-color); // rebeccapurple;
}

.linkWrapper {
  width: 100%;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
  }
}

.collapseBtn {
  color: var(--primary-color);
  font-size: 32px;
  // background: var(--inverted-bg-color);
  border-radius: 10px;
}

.background {
  background: var(--inverted-bg-color);
}

.collapse {
  width: var(--sidebar-width-small);
  background: var(--inverted-bg-color);
  transition: width 0.5s, height 0.5s;

  @media (max-width: 767px) {
    width: 40px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 415px) {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    bottom: 0;
    background-color: var(--inverted-bg-color);
    border: 1px solid var(--primary-color);
  }

  .switchers {
    display: flex;
    color: var(--primary-color);
    // flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: flex;
    }
  }

  @media (max-width: 415px) {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    align-items: center;
    height: 60px;
    //min-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }

  .link {
    width: 100%;
    opacity: 0;
    width: 0;
    transition: 0.3s;
  }
  .links {
    width: 100%;
    @media (max-width: 767px) {
      width: 40px;
    }
    @media (max-width: 415px) {
      display: none;
    }
  }

  .icon {
    margin-right: 3px;
    @media (max-width: 415px) {
      display: none;
    }
  }

  .collapseBtn {
    position: relative;
    font-size: 32px;
    transition: 0.3s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media (max-width: 415px) {
      display: flex;
    }
  }
  .collapseBtn:hover {
    transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
    &:hover {
      transform: scale(1.7);
    }
    &:active {
      transform: translateY(2px);
    }
  }
}
