.Sidebar {
  height: calc(100vh - var(--navbar--height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.5s, height 0.5s;
  // margin-top: 3px;
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    z-index: 1000;
    background: transparent;
  }
  @media (max-width: 415px) {
    width: 100%;
    display: flex;
    border-radius: 7px;
    bottom: 0;
  }
}

.expanded {
  background: var(--inverted-bg-color);
  align-items: center;
  transition: width 0.5s, height 0.5s ease;
  // width: var(--sidebar-width); //min-

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 415px) {
    width: 100%;
  }
}

.collapseIcon {
  transform: rotate(90deg);
  transition: transform 0.2s;

  &:hover {
    transform: rotate(-270deg);
    fill: var(--sidebar-text-hover);
  }
}
.expandIcon {
  fill: var(--primary-color);
  transition: fill 0.2s;
  transform: rotate(-90deg);
  transition: transform 0.2s;

  &:hover {
    transform: rotate(270deg);
    fill: var(--sidebar-text-hover);
  }
}

.SidebarItem {
  width: 100%;
}

.switchers {
  margin-top: 10px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  //align-items: center;
  width: 100%;
  border-radius: 7px;

  &:hover {
    fill: var(--sidebar-text-hover);
    color: var(--sidebar-text-hover);
  }

  @media (max-width: 767px) {
    display: flex;
    width: 50%;
  }
  @media (max-width: 415px) {
    // justify-content: space-between;
    width: 100%;
  }
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 767px) {
    display: flex;
  }
}
// .link {
//   width: 100%;
//   margin-top: 10px;
//   opacity: 1;
//   fill: var(--primary-color);
// }

.element {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--primary-color);
}

.linkWrapper {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
  }
}

.collapseBtn {
  color: var(--primary-color);
  font-size: 32px;
  border-radius: 10px;

  &:hover {
    fill: var(--sidebar-text-hover);
  }
  @media (max-width: 415px) {
    transform: rotate(-90deg);
  }
}

.background {
  background: var(--inverted-bg-color);
}

/////////////////////////// collapse state \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.collapse {
  width: var(--sidebar-width-small);
  background: var(--inverted-bg-color);
  transition: width 0.5s, height 0.5s;

  @media (max-width: 767px) {
    transition: height 0.5s;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--inverted-bg-color);
    border-top: 1px solid var(--primary-color);
    // commented code is for prev version of collapsed bar
    // width: 40px;
    // justify-content: center;
    // align-items: center;
  }

  @media (max-width: 415px) {
    transition: height 0.5s;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--inverted-bg-color);
    border-top: 1px solid var(--primary-color);
  }

  .iconAndSwitchers {
    width: 100%;
    display: flex;
  }

  .switchers {
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: flex;
    }
    @media (max-width: 415px) {
      width: 20px;
      height: 20px;
    }
  }

  .links {
    width: 100%;

    @media (max-width: 415px) {
      width: 90%;
      overflow-y: auto;
      position: absolute;
      bottom: 0px;
      left: -15px;
    }
  }

  .linkWrapper {
    justify-content: space-between;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
    }

    @media (max-width: 415px) {
      display: flex;
      flex-direction: row;

      width: 100%;
      align-items: center;
      // overflow-x: auto;
    }
  }
  // .linkWrapper:first-child {
  //   margin-right: 40px;
  // }

  .collapseBtn {
    position: relative;
    font-size: 32px;
    transition: 0.3s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      display: flex;
      transform: rotate(-90deg);
      position: absolute;
      top: 10px;
      right: 10px;
    }

    @media (max-width: 415px) {
      display: flex;
      transform: rotate(-90deg);
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .collapseBtn:hover {
    transition: background-color 0.1s, box-shadow 0.1s, transform 0.1s;
    &:hover {
      fill: var(--sidebar-text-hover);
    }
    &:active {
      transform: translateY(1.2px);
    }
  }
}

.themeSwitcher {
  transition: transform 0.15s;
  &:hover {
    transform: scale(1.2);
    transform: rotate(180deg);
  }
  &:active {
    transform: translateY(1px);
  }
}
.LangSwitcher {
  transition: transform 0.15s;
  &:hover {
    color: var(--sidebar-text-hover);
  }
}
