.PlayerCard {
  display: flex;
  flex-direction: column;

  background: var(--inverted-bg-color);

  max-width: 100%;

  @media (max-width: 767px) {
    max-width: 640px;
  }
  @media (max-width: 415px) {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.accWrapper {
  display: flex;
  justify-content: space-between;
  margin: 3px;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.user {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  background: var(--bg-color);
  width: 25%;

  @media (max-width: 767px) {
    width: 100%;
    order: 1;
    // width: 190px;
  }
  @media (max-width: 415px) {
    //justify-content: space-between;
    // align-items: center;
    order: 1;
  }
}
.pic {
  width: 170px;
  height: 170px;

  margin: 3px;
}
img {
  width: 170px;
  height: 170px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
}
.name {
  position: relative;
  bottom: 0;
}
.userBottom {
  padding: 0px 3px 0px 3px;
  display: flex;
  justify-content: space-between;
}

.indicators {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  width: 80%;
  background: var(--bg-color);

  @media (max-width: 767px) {
    grid-column: 1 / 3;
    order: 3;
    width: 100%;
  }
  @media (max-width: 415px) {
    order: 2;
    width: 100%;
  }
}

.health {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  width: 100%;
  background: rgb(240, 13, 13);
  //opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 2px;
}
.level {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  width: 100%;
  background: rgb(7, 104, 231);
  //opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 2px;
}
.points {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  width: 100%;
  background: rgb(5, 221, 5);
  // opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 2px;
}

.buttnz {
  display: flex;

  @media (max-width: 415px) {
    flex-wrap: wrap;
  }
}

.tags {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid black;

  width: 200px;
  height: 220px;
  border-radius: 5px;
  margin: 3px;
  background: var(--bg-color);

  @media (max-width: 767px) {
    // width: 190px;
    width: 100%;
    order: 2;
  }
  @media (max-width: 415px) {
    order: 3;
    width: 100%;
    max-height: 100px;
  }
}

.tagsWrapper {
  margin-top: 27px;
  overflow: auto;
}

.header {
  //align-self: flex-start;
  position: absolute;
  z-index: 10;
  //left: 0;
  top: 0;
  width: 100%;
  background: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleTag {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--inverted-bg-color); // rebeccapurple;
}
.singleTag:hover {
  background: var(--sidebar-button);
  cursor: pointer;
}
.tagSelected {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--sidebar-button); // rebeccapurple;
}

.delTag {
  position: absolute;
  //border: 1px solid rgb(255, 255, 255);
  padding: 2px;
  right: 1px;
}
