.TextEditor {
  //   width: 800px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    width: 1000px;
  }

  @media (max-width: 500px) {
    max-width: 490px;
  }

  @media (max-width: 375px) {
    width: 370px;
  }
}

.quill {
  height: 100%;
  width: 100%;
  // background-color: rebeccapurple;
  color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  // max-width: 500px;

  :global(.ql-toolbar) {
    background-color: var(--primary-color);
    border-radius: 6px;
  }
  :global(.ql-container) {
    border-radius: 6px;
  }
  :global(.ql-formats) {
    color: var(--inverted-primary-color);
  }
  :global(.ql-picker-label) {
    color: var(--inverted-primary-color);
    border: 1px solid white;
  }
  :global(.ql-bold) {
    color: var(--inverted-primary-color);
  }
  :global(.ql-stroke) {
    color: var(--inverted-primary-color);
  }
  :global(.ql-blockstroke) {
    color: var(--inverted-primary-color);
  }
  :global(.ql-list) {
    color: var(--inverted-primary-color);
  }
  :global(svg) {
    color: var(--inverted-primary-color);
    stroke: white;
  }

  @media (max-width: 1200px) {
    width: 1000px;
  }

  @media (max-width: 500px) {
    max-width: 370px;
    margin-right: auto;
  }

  @media (max-width: 375px) {
    //border: 2px solid black;

    width: 340px;
  }
}

.published {
  background-color: rgb(25, 223, 41);
}
