.TextEditor {
  //   width: 800px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    width: 1000px;
  }

  @media (max-width: 500px) {
    max-width: 490px;
  }

  @media (max-width: 375px) {
    width: 370px;
  }
}

.quill {
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
  border-radius: 12px;
  color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  // max-width: 500px;

  @media (max-width: 1200px) {
    width: 1000px;
  }

  @media (max-width: 500px) {
    max-width: 370px;
    margin-right: auto;
  }

  @media (max-width: 375px) {
    //border: 2px solid black;

    width: 340px;
  }
}

.published {
  background-color: rgb(25, 223, 41);
}
