.ArticlesPage {
  min-height: 100%;

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }
}

.pageFilters,
.list {
  width: 100%;
}
