.HabitsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  //min-width: 33%;
  min-width: calc(33.33% - 10px);
  min-height: 300px;
  @media (max-width: 767px) {
    height: 300px;
    width: 100%;
  }
  @media (max-width: 415px) {
    height: 250px;
    width: 100%;
  }
}
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--inverted-bg-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  // @media (max-width: 767px) {
  //   font-size: 48px;
  //   height: 60px;
  // }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 300px;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 2px;
  @media (max-width: 767px) {
    align-items: center;
  }
  @media (max-width: 415px) {
    align-items: center;
    // width: 90%;
  }
}

.createBtn {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--inverted-bg-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  button {
    background: var(--hover-cursor);
  }
}
