.Wrapper {
  display: flex;

  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.label {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
  }
  :disabled::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.option {
  &:hover {
    cursor: pointer;
    background: red;
  }
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

:disabled {
  border: none;
}
