.app_theme_blue {
  --bg-color: rgb(192, 189, 204);
  --inverted-bg-color: rgb(48, 188, 225);
  --sidebar-button: rgb(29, 205, 141);
  --hover-cursor: rgb(29, 205, 141);
  --darker-backg: rgb(29, 205, 141);

  --primary-color: rgb(244, 249, 251);
  --secondary-color: rgb(244, 249, 251);

  --inv-primary-color: rgb(187, 31, 218);
  --inv-secondary-color: rgb(29, 205, 141);
}
