.app_theme_dark {
  --bg-color: rgb(74, 80, 92);
  --inverted-bg-color: rgb(133, 119, 119);
  --sidebar-button: rgb(112, 101, 101);
  --hover-cursor: rgb(99, 90, 90);
  --darker-backg: rgb(88, 83, 83);
  --light-bg-color: rgb(150, 140, 140);

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(75, 78, 75);

  --inv-primary-color: rgb(117, 95, 95);
  --inv-secondary-color: salmon;

  --input-color: rgb(184, 170, 170);

  // skeleton
  --skeleton-color: #2f2f38;
  --skeleton-shadow: #30303a;

  // code
  --code-bg: #30303b;

  --card-bg: rgb(50, 55, 63);
}
