.app_theme_dark {
  --bg-color: rgb(74, 80, 92);
  --inverted-bg-color: rgb(133, 119, 119);
  --sidebar-button: rgb(112, 101, 101);
  --hover-cursor: rgb(99, 90, 90);
  --darker-backg: rgb(88, 83, 83);

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 255, 0);

  --inv-primary-color: rgb(0, 0, 0);
  --inv-secondary-color: rgb(0, 0, 0);

  // skeleton
  --skeleton-color: #2f2f38;
  --skeleton-shadow: #30303a;

  // code
  --code-bg: #30303b;

  --card-bg: rgb(50, 55, 63);
}
