.app.dark {
  --bg-color: blue;
  --inverted-bg-color: rgb(0, 0, 0);

  --primary-color: rgb(12, 196, 12);
  --secondary-color: rgb(0, 255, 0);

  --inv-primary-color: rgb(255, 255, 255);
  --inv-secondary-color: rgb(20, 6, 211);
}
