.app_theme_light {
  --bg-color: rgb(189, 201, 201);
  --inverted-bg-color: rgb(255, 208, 0);
  --sidebar-button: rgb(255, 216, 45);
  --hover-cursor: rgb(255, 218, 51);
  --darker-backg: rgb(216, 177, 2);

  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(20, 6, 211);

  --inv-primary-color: rgb(255, 255, 255);
  --inv-secondary-color: rgb(0, 255, 0);
}
