.app_theme_purple {
  --bg-color: rgb(177, 158, 156);
  --inverted-bg-color: rgb(129, 24, 190);
  --sidebar-button: rgb(250, 128, 114);
  --hover-cursor: rgb(250, 128, 114);
  --darker-backg: rgb(144, 23, 168);

  --primary-color: rgb(250, 244, 251);
  --secondary-color: rgb(250, 244, 251);

  --inv-primary-color: rgb(187, 31, 218);
  --inv-secondary-color: rgb(250, 128, 114);

  // skeleton
  --skeleton-color: #fc2dfc;
  --skeleton-shadow: #e05c8f;

  // code
  --code-bg: #b12aaa;

  --card-bg: rgb(145, 155, 155);
}
