.app_theme_purple {
  --bg-color: rgb(168, 166, 177);
  --inverted-bg-color: rgb(187, 31, 218);
  --sidebar-button: rgb(210, 35, 245);
  --hover-cursor: rgb(71, 23, 202);
  --darker-backg: rgb(144, 23, 168);

  --primary-color: rgb(250, 244, 251);
  --secondary-color: rgb(250, 244, 251);

  --inv-primary-color: rgb(187, 31, 218);
  --inv-secondary-color: rgb(60, 30, 210);

  // skeleton
  --skeleton-color: #fc2dfc;
  --skeleton-shadow: #e05c8f;

  // code
  --code-bg: #b12aaa;
}
