.ChallengePage {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  // justify-content: center;
  // overflow: auto;

  @media (max-width: 1600px) {
    width: 100%;
    // max-width: 1300px;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    max-width: 740px;
  }
  @media (max-width: 415px) {
    width: 100%;
    max-width: 370px;
  }
}

.displayInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  background: var(--inverted-bg-color);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 100%;

  @media (max-width: 1600px) {
    width: 100%;
    max-width: 1100px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 900px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 415px) {
    width: 100%;
    max-width: 370px;
  }
}

.date {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: var(--inverted-bg-color);
  margin: 5px;
}
.dates {
  display: flex;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px solid rgb(0, 0, 0);
  background: var(--inverted-bg-color);
  border-radius: 5px;
  padding: 5px;
  max-width: 100%;

  @media (max-width: 1600px) {
    max-width: 1100px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 900px;
    margin: 0;
  }
  @media (max-width: 767px) {
    // max-width: 740px;
    width: 100%;
  }
  @media (max-width: 415px) {
    overflow: auto;
    width: 100%;
    max-width: 370px;
  }
}
.title {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(107, 98, 98);
  border-radius: 5px;
  max-height: 42px;
  padding: 5px;
  margin: 5px;
  align-self: center;
}

.tableWrapper {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: auto;
  max-width: 100%;
  margin: 5px;
  padding: 5px;

  @media (max-width: 1200px) {
    overflow: auto;
  }

  @media (max-width: 767px) {
    overflow: scroll;
    width: auto;
  }
  @media (max-width: 415px) {
    overflow: scroll;
    width: 100%;
    padding: 0;
    border: none;
  }
}
.scoreboard {
  display: grid;
  border: 1px solid rgb(0, 0, 0);
  background: var(--bg-color);
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  // max-height: 100%;

  gap: 5px;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'name name '
    'day value';

  @media (max-width: 767px) {
    max-width: 740px;
  }
  @media (max-width: 415px) {
    width: 95%;
  }
}

.scoreWrapper {
  margin: 5px;
  min-width: 300px;

  @media (max-width: 767px) {
    // max-width: 740px;
  }
  @media (max-width: 415px) {
    // align-items: center;
    width: 100%;
  }
}

.user {
  display: flex;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: var(--inverted-bg-color);
  text-align: center;
  padding: 10px;
  grid-area: name;

  @media (max-width: 767px) {
    // max-width: 740px;
  }
  @media (max-width: 415px) {
    max-width: 290px;
  }
}

.nickname {
  align-self: center;
  text-align: center;
  flex: 1;
}

.points {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: var(--inverted-bg-color);
  text-align: center;
  align-self: flex-end;
  width: 30%;
  margin-left: auto;

  @media (max-width: 415px) {
    min-width: 70px;
  }
}

.div {
  border-radius: 5px;
  display: flex;

  @media (max-width: 415px) {
    max-width: 290px;
    margin-right: 30px;
  }
}

.day,
.isDone {
  grid-row: 1;
  grid-column: 1 / span 2;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 5px;
  width: 50%;
  background: var(--inverted-bg-color);

  @media (max-width: 767px) {
    // max-width: 740px;
  }
  @media (max-width: 415px) {
    // margin: 2px 2px 2px 5px;
    // margin-right: 10px;
    max-width: 200px;
  }
}

.day {
  grid-area: day;
  //min-width: 90px;
}
.isDone {
  grid-area: value;
  // min-width: 90px;
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: rgb(9, 218, 20);
    margin-bottom: 0;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -3px;
      border-color: white;
      content: '\2713';
      visibility: visible;
    }
  }
}
.redCheckbox {
  -webkit-appearance: none;
  appearance: none;

  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: rgb(223, 15, 15); // Red background color
    margin-bottom: 0;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -3px;
      border-color: white;
      content: '\2716'; // Unicode character for cross
      visibility: visible;
    }
  }
}
