.ArticlePageFilters {
  width: 100%;
  @media (max-width: 375px) {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    max-width: 360px;

    justify-content: space-between;
  }
}

.SortWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.Search {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--bg-color);
  background: transparent;
}

.searchInput {
  border-radius: 4px;
  // background: var(--bg-color) !important;
  background: transparent !important;
  // color: white !important;

  span {
    display: none !important;
    // position: absolute;
    // top: 0;
    background: transparent !important; // var(--bg-color) !important;
    // color: white !important; //var(--primary-color)
  }
}
