.PsyRoom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogsList {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  overflow: auto;
  // background: red;
  width: 470px;
  height: 250px;
  //color: white;
}

.dialogs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.dialog {
  display: flex;
  //flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dialog:hover {
  background: blueviolet;
}

.emptyDialogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
}

.icon {
  align-self: right;
}
