.ArticleCreatePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    width: 800px;
  }

  @media (max-width: 500px) {
    max-width: 490px;
  }

  @media (max-width: 375px) {
    width: 370px;
  }
}

.optionList {
  margin: 15px 0px 15px 0px;
  display: flex;
  gap: 10px;
}

.option {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  &:hover {
    color: rgb(18, 247, 10);
    cursor: pointer;
  }
}

.selected {
  background: red;
}

.textEditor {
  width: 100%;
}
