.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: 8px;
  @media (max-width: 415px) {
    max-width: 100%;
  }
}

.header {
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 200px;
  gap: 5px;
}
.inGameData {
  border: 1px solid black;
  border-radius: 5px;
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.account {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editMode {
  border: 2px solid rgb(255, 166, 0);
}
