.TaskCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  height: 350px;
  width: 600px;
  overflow: auto;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 450px;
  }

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 450px;
  }
}
.difficulty {
  display: flex;
  margin-bottom: 10px;
  @media (max-width: 415px) {
    padding: 5px;
    // width: 95%;
    justify-content: space-between;
    // button {
    //   width: 90%;
    // }
  }
}

.description {
  width: 100%;

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
    //width: 200px;
  }
}

.input,
.tagInput {
  //border: 2px solid black;
  // padding: 5px;
  // border-radius: 5px;
  // background: transparent;
  // outline: cornsilk;
  // margin-left: 2px;
  // width: 80%;
  // height: 35px;
  // color: var(--primary-color);
  // text-shadow: 0 0 0 var(--primary-color);

  @media (max-width: 767px) {
    width: 80%;
  }

  @media (max-width: 415px) {
    width: 100%;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  //justify-content: center;
}

.input {
  @media (max-width: 415px) {
    width: 80%;
  }
}

.textarea {
  margin: 4px 0px 4px 2px;
  color: white;
  width: 80%;

  @media (max-width: 767px) {
    width: 80%;
  }

  @media (max-width: 415px) {
    width: 100%;
  }
}
.tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  //padding: 10px;
  //border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 100%;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
  }
}

.Y {
  display: flex;

  @media (max-width: 415px) {
    display: flex;
    flex-direction: column;
  }
}

.tagArray {
  display: flex;
  flex-wrap: wrap;
}
.singleTag {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 0.1px 4px;
  margin: 2px;
  margin-left: 3px;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  &:hover {
    border: 1px solid rgb(3, 201, 3);
    color: rgb(3, 201, 3);
  }
}

.selectedTags {
}
.footer {
  display: flex;

  justify-content: space-between;
}

/////////////////////////////////// SWICTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;
    border-radius: 25px;

    &:before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.2s;
      border-radius: 50%;
    }
  }

  input:checked + .sliderRound {
    background-color: #007bff;

    &:before {
      transform: translateX(25px);
    }
  }
}

.subtasks {
  margin-top: 5px;
}

.sub {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 40%;
  gap: 7px;

  @media (max-width: 415px) {
    display: flex;
    width: 100%;
  }
}

.subtaskNumber {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--inv-secondary-color);
  color: var(--inv-secondary-color);
  border-radius: 4px;
  // padding: 2px;
  width: 38px;
  height: 35px; // 30px;
  // margin-right: 5px;
}

$primary-color: #3498db;
$hover-color: #2980b9;
$animation-duration: 0.1s;

.plusButton {
  // display: inline-block;
  // padding: 10px 15px;
  background-color: $primary-color;
  border-radius: 5px;
  margin-left: 5px;
  color: white;
  border: none;
  width: 35px;
  height: 35px;

  font-size: 18px;
  cursor: pointer;
  transition: background-color $animation-duration ease;

  &:hover {
    background-color: $hover-color;
  }

  &::before,
  &::after {
    content: '';
    // position: absolute;
    // top: 50%;
    // left: 50%;
    background-color: white;
    transition: transform $animation-duration ease,
      opacity $animation-duration ease;
  }

  &::before {
    width: 2px;
    height: 12px;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 12px;
    height: 2px;
    transform: translate(-50%, -50%);
  }

  &:hover::before {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.8;
  }

  &:hover::after {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.8;
  }
}
