.listWrapper {
}

.chalTitle {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 4px;
  text-align: center;

  @media (max-width: 415px) {
    width: 310px;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    background: salmon;
  }
}

span {
  &:hover {
    cursor: pointer;
  }
}
