.ArticleList {
  @media (max-width: 429px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rectangle {
  margin-top: 10px;
  .card {
    margin-bottom: 30px;
  }
}

.square {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .card {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
