.Tabs {
  display: flex;
  cursor: pointer;
  gap: 8px;
}
.tab {
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #666666;
  }
}
