/* Ваши стили для страницы "ArticleDetailsPage" */
.ArticleDetailsPage {
  // align-items: center;
  // justify-content: center;
  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }
}

// .singleArticle {
//   align-items: center;
// }

.recTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recs {
  margin-top: 20px;

  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
