.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: rgb(150, 150, 150);
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 10px;
}

.username {
  margin-left: 10px;
}
