.customTextarea {
  padding: 10px;
  font-size: 16px;
  background-color: var(--inverted-bg-color);
  border: 1px solid var(--inv-secondary-color);
  color: var(--input-color);
  border-radius: 4px;
  outline: none;
  resize: vertical;
  transition: all 0.3s ease-in-out;
  overflow-y: hidden;
  width: 100%;
  // min-height: 55px;

  &:hover {
    background-color: var(--light-bg-color);
  }

  &:focus {
    border-color: var(--inv-secondary-color);
    box-shadow: 0 0 5px var(--inv-secondary-color);
    background-color: var(--inv-primary-color);
  }

  @media (max-width: 415px) {
    max-height: 50px;
    // width: 200px;
  }
}
