.AddCommentForm {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(150, 150, 150);

  @media (max-width: 375px) {
    max-width: 370px;

    height: 80px;
    width: 100%;
  }
}

.input {
  flex-grow: 1;
}
